<ul>
    {% for player in team.notDeadPlayers %}
        <li>
            {% include 'team/player-line.bb2020.html.twig' with { 'player': player } %}
        </li>
    {% else %}
        <li>No players</li>
    {% endfor %}
</ul>