<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('built/app.min.css') }}" />
    </head>
    <body>
        {% block struct %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('built/libs.min.js') }}"></script>
        <script async type="text/javascript" src="{{ asset('built/app.min.js') }}"></script>
    </body>
</html>
