/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/vendor/
/web/built/
/app/Resources/lib
/node_modules/
/.tmp/
/legacy/
/src/*/Entity/*.php~
/src/BbLegacyManagerBundle/
composer.lock
/web/app_test.php
/web/app_dev.php
/web/media/*
/web/uploads/teams/*
/logs/

