{% extends 'base.html.twig'%}

{% block body %}
    <ul>
        {% for item in leagues %}
            <li>
                {{ item.name }} ({{ item.owner }})
                - <a href="{{ path('admin_leagues_edit', {league: item.id}) }}">Edit</a>
                - <a href="#delete-{{ item.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}