{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}
{% form_theme sheet 'BbLeagueBundle:Form:form_div_layout.html.twig' %}
{% block body %}

<section id="content-form" class="content normal-content clearfix">
    <header class="section-header clearfix padding-me">
        <h1 class="section-title">{% trans from 'form' %}form.encounter.sheet.title{% endtrans %}</h1>
    </header>
    <div id="encoutersheet" class="clearfix">
    {{ form_start(sheet, {attr: {class: 'ui form'}}) }}
        {% include 'BbLeagueBundle:Layout:forms/steps.html.twig' %}
        {% if flow.getCurrentStepNumber() == 1 %}
        {% include 'BbLeagueBundle:Encounters:form/step1.html.twig' %}
        {% elseif flow.getCurrentStepNumber() == 2 %}
        {% include 'BbLeagueBundle:Encounters:form/step2.html.twig' %}
        {% elseif flow.getCurrentStepNumber() == 3 %}
        {% include 'BbLeagueBundle:Encounters:form/step3.html.twig' %}
        {% else %}
        {% endif %}
        {% include 'BbLeagueBundle:Layout:forms/buttons.html.twig' %}
    {{ form_end(sheet) }}
    </div>
</section>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    // keep track of how many email fields have been rendered

    $(document).ready(function() {
        $('#encoutersheet .add-another-action').click(function(e) {
            e.preventDefault();

            var thelist  = $( $(e.target).attr('list-selector') );
            var thecount = parseInt( $(e.target).attr('list-count') );
            // grab the prototype template
            var newWidget = thelist.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, thecount);
            $(e.target).attr('list-count', thecount+1);

            // create a new list element and add it to the list
            var newLi = $('<li></li>').html(newWidget);
            newLi.appendTo(thelist);
        });
    })
</script>
{% endblock javascripts %}
