{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}

{% block body %}
    <ul>
        {% for i, encounter in team.encounters %}
        <li class="{{ cycle(['odd', 'even'], i) }}">
            {{ encounter.journey.name }}
            <div>{{ encounter.team.name }} VS {{ encounter.visitor.name }}</div>
        </li>
    {% endfor %}
    </ul>
{% endblock body %}
