{% extends 'BbLigueBundle:Layout:layout.html.twig' %}

{% block body %}
    <section id="espace-admin" class="content normal-content clearfix">
        <header class="section-header clearfix padding-me">
            <h1 class="section-title">{{ 'layout.admin_space.index.title'|trans }}</h1>
        </header>
        <div class="clearfix">
            <article class="clearfix padding-me">
                <div class="wrapper relative clearfix">
                    toto
                </div>
            </article>
            <article class="clearfix padding-me">
                <div class="wrapper relative clearfix">
                    tata
                </div>
            </article>
        </div>
    </section>
{% endblock %}
