{% extends 'base.html.twig'%}

{% block body %}
    <ul>
        {% for league in leagues %}
            <li>
                {{ league.name }}
                {% if(is_granted('league.edit', league)) %}
                - <a href="{{ path('admin_leagues_edit', {'league': league.id}) }}">Edit</a>
                {% endif %}
                {% if(is_granted('league.edit', league)) %}
                - <a href="{{ path('admin_leagues_delete', {'league': league.id}) }}">Delete</a>
                {% endif %}
            </li>
        {% else %}
            <li>Nothing to see here</li>
        {% endfor %}
    </ul>
{% endblock %}