{% use "form_div_layout.html.twig" %}

{% block _manage_championship_form_guests_widget %}
    <ul id="manage_championship_form_guests_widget" class="attach-collection-actions">
    {% for choice in form.vars.choices %}
        {% if choice.value in form.vars.value %}
        <li class="item">
            <a href="#" data-item-selector=".item" class="remove-collection-widget pull-right">
                <span class="fa fa-close">X</span>
            </a>
            {{ choice.label }}
            <input type="hidden" {{ block('widget_attributes') }} value="{{ choice.value }}">
        </li>
        {% endif %}
    {% else %}
        <li>No registred coach for the moment!</li>
    {% endfor %}
    </ul>
{% endblock %}