<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% if(is_granted('ROLE_USER')) %}
{% include 'layout/header.html.twig' %}
{% include 'layout/navbar.html.twig' %}
{% endif %}
{% block body %}{% endblock %}
{% block javascripts %}
    {#{ encore_entry_script_tags('app') }#}
{% endblock %}
</body>
</html>
