{% extends 'base.html.twig' %}

{% block body %}
    <script>
        window.user = {{ user|raw }};
    </script>

    <div id="obblm">
        <obblm-app
            entrypoint="{{ absolute_url(path('api_entrypoint')) }}"
        ></obblm-app>
    </div>
{% endblock %}
