{% extends 'BbLigueBundle:Layout:layout.html.twig' %}

{% block body %}
    <section id="dashboard" class="content normal-content clearfix">
        <header class="section-header clearfix padding-me">
            <h1 class="section-title">{{ ligue.name }}</h1>
        </header>
        <div class="ligues clearfix">
            {% for team in ligue.teams %}
                <article class="ligue clearfix padding-me">
                    <div class="wrapper relative clearfix">
                        <header class="ligue-header clearfix">
                            <h3 class="ligue-name">{{ team.name }}</h3>
                        </header>
                        <div class="ligue-content clearfix">
                            {{ team.getLastJourney.getPoints }}
                        </div>
                    </div>
                </article>
                {% else %}
                Pas encore inscrit dans une ligue
            {% endfor %}
        </div>
    </section>
{% endblock %}
