{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}

{% block body %}
    <section id="team-sheet" class="content normal-content clearfix">
        <header class="section-header clearfix padding-me">
            <h1 class="section-title">{{ team.name }}</h1>
            {% if team.coach == app.user and not team.valid %}
            <ul class="section-actions">
                <li><a class="button button-basic" href="{{ path("team_edit", {team_id: team.id}) }}">{{ 'layout.coach_space.index.team_edit'|trans }}</a></li>
            </ul>
            {% endif %}
        </header>
        <article class="clearfix padding-me">
            {% if journey %}
            {% include 'BbLeagueBundle:Team:sheet.html.twig' with {journey: journey, team: team} %}
            {% endif %}
        </article>
    </section>
{% endblock %}
